<%= render "shared/header" %>
 <div class="main">
  <div class="inner">
     <div class="user__wrapper">
        <div class='item-contents'>
         <h2 class='title'>
        <%= "#{@user.nickname}さんの商品一覧"%>
      </h2>
      <ul class='item-lists'>
      <% @items.each do |item| %>
          <li class='list'>
        <%= link_to item_path(item.id),method: :get do %>
          <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" if item.image.attached? %>
        <% end %>

          <% if item.order.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
          
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
      
   
       <% if @items.ids.nil? %>
          <li class='list'>
         <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
             </div>
             </div>
          <% end %>
        <% end %>
      </li>
      </ul>     
      <b><%= link_to "トップページへ戻る", root_path%></b>
   </div>
<%= render "shared/footer" %>